
/* ===== V4.02 Quest reward stability ===== */
#v231QuestReward{
  z-index:2147483640!important;
}
.v235-loot-harz{
  border-color:#3d7b49!important;
  color:#9bea77!important;
  box-shadow:inset 0 0 12px rgba(104,218,78,.08)!important;
}
