
html body .app > header .v358-logo::after{content:"V7.124"!important}
html body .app > header .v366-ver,
html body .app > header .v371-logo em,
html body .app > header .v372-logo em,
#v372TopbarShell .v372-logo em{font-size:0!important;color:transparent!important}
html body .app > header .v366-ver::after,
html body .app > header .v371-logo em::after,
html body .app > header .v372-logo em::after,
#v372TopbarShell .v372-logo em::after{
  content:"V7.124"!important;font-size:5px!important;color:#63cdd1!important;font-style:normal!important;font-weight:900!important
}
