
/* Elite-Fenster direkt vor der normalen Questliste */
#quests .v4172-elite-info{
  order:0!important;
  margin:0!important;
}
#quests .v386-list{
  order:1!important;
}
#quests .v387-refresh{
  order:2!important;
}
