
.v210-profile-icon .v466-item-art,
.v240-loot-icon .v466-item-art,
.v246-dungeon-item .v466-item-art,
.v459-sheet-icon .v466-item-art,
.v466-material-artbox .v466-item-art,
.shop-icon .v466-item-art,
.v41-shop-icon .v466-item-art,
.v4103-forge-art .v466-item-art,
.slot-icon .v466-item-art,
.v459-inv-icon .v466-item-art{
  width:100%!important;
  height:100%!important;
  display:block!important;
  object-fit:contain!important;
}
.v210-profile-icon{display:grid;place-items:center}
.v210-profile-icon .v466-item-art{width:56px!important;height:56px!important;filter:drop-shadow(0 5px 10px #0008)}
.v240-loot-icon .v466-item-art{width:58px!important;height:58px!important;filter:drop-shadow(0 5px 10px #0008)}
.v246-dungeon-item .v240-loot-icon,.v210-profile-icon,.v459-sheet-icon,.v466-material-artbox,.v4103-forge-art{overflow:hidden}
