
#character .v543-node.maxed,
#character .v543-node.milestone.active{
  min-height:112px!important;
}
#character .v543-node.maxed .v320-point-info,
#character .v543-node.milestone.active .v543-node-desc{
  margin-bottom:5px!important;
}
#character .v543-node.maxed .v543-node-head,
#character .v543-node.milestone.active .v543-node-head{
  margin-bottom:4px!important;
}
#character .v543-state{
  margin-bottom:0!important;
}
