
#dungeonMapCard.v432-d7 .v261-node.boss .v261-bossart{
  inset:3px!important;
  background-size:cover!important;
  background-position:center!important;
  background-repeat:no-repeat!important;
  filter:saturate(1.10) contrast(1.05)!important;
}
