
#world.active .v366-character.v369-real-character{
  left:9%!important;
  bottom:-5%!important;
  width:43%!important;
  height:55%!important;
  background-position:center 20%!important;
}
@media(max-width:390px){
  #world.active .v366-character.v369-real-character{
    left:9%!important;
    bottom:-5%!important;
    width:44%!important;
    height:54%!important;
    background-position:center 20%!important;
  }
}
