
header .resource-stats .v284-dampf-card{
  position:relative;
}
header .resource-stats .v284-dampf-card .v284-dampf-label{
  display:block!important;
}
header .resource-stats .v284-dampf-card .v284-dampf-value::before,
header .resource-stats .v284-dampf-card .v284-dampf-value::after,
header .resource-stats .v284-dampf-card .v284-dampf-label::before,
header .resource-stats .v284-dampf-card .v284-dampf-label::after{
  content:none!important;
  display:none!important;
}
