
#v231QuestReward .v395-loot-card.item.q-gray{border-color:#5c645e;background:linear-gradient(180deg,#151915,#0b0e0c)}
#v231QuestReward .v395-loot-card.item.q-gray b{color:#c7ceca}
#v231QuestReward .v395-loot-card.item.q-green{border-color:#47784c;background:linear-gradient(180deg,#102014,#09110b)}
#v231QuestReward .v395-loot-card.item.q-green b{color:#92db8c}
#v231QuestReward .v395-loot-card.item.q-blue{border-color:#416a8a;background:linear-gradient(180deg,#0f1821,#091017)}
#v231QuestReward .v395-loot-card.item.q-blue b{color:#8dc9f3}
#v231QuestReward .v395-loot-card.item.q-purple{border-color:#6a4b82;background:linear-gradient(180deg,#1a1122,#0e0913)}
#v231QuestReward .v395-loot-card.item.q-purple b{color:#d5a9ff}
#v231QuestReward .v395-loot-card.item.q-orange{border-color:#8a5c28;background:linear-gradient(180deg,#21170d,#120d08)}
#v231QuestReward .v395-loot-card.item.q-orange b{color:#f4b66c}
#v231QuestReward .v395-loot-card.item.q-cyan{border-color:#287d75;background:linear-gradient(180deg,#0b201d,#071311)}
#v231QuestReward .v395-loot-card.item.q-cyan b{color:#79e8df}
