
#dungeonMapCard.v468-master .v261-bg{background-size:cover!important;background-position:center center!important;filter:saturate(1.08) contrast(1.02) brightness(.90)!important}
#dungeonMapCard.v468-master .v261-node:not(.boss) .v261-ring{background-size:cover!important;background-position:center center!important;background-repeat:no-repeat!important}
#dungeonMapCard.v468-master .v261-thumb{background-size:cover!important;background-position:center center!important;background-repeat:no-repeat!important}
