
#harzDealer .v567-hero-art{
  background-size:100% 100%,93% auto!important;
  background-position:center center,center center!important;
  background-repeat:no-repeat,no-repeat!important;
  background-color:#35200f!important;
}
@media(max-width:560px){
  #harzDealer .v567-hero{grid-template-columns:46% 54%!important}
  #harzDealer .v567-hero-art{
    background-size:100% 100%,91% auto!important;
    background-position:center center,center center!important;
  }
}
