
#v123ItemDetail .v297-mystic-detail{
  border-color:rgba(74,227,219,.45)!important;
  background:rgba(28,119,115,.12)!important;
}
#v123ItemDetail .v297-mystic-detail b,
#v123ItemDetail .v297-mystic-detail div{
  color:#8ffff5!important;
}
