
.app > header .v358-logo::after{content:"V4.121"!important}
.app > header .v366-ver::after,.app > header .v371-logo em::after,.app > header .v372-logo em::after{content:"V4.121"!important}
#v231QuestRewardExtra .v4121-quest-current-item{grid-column:1/-1;width:100%;margin:0!important;text-align:left!important}
#v231QuestRewardExtra .v4121-quest-current-item .v4103-item-head{text-align:left!important}
#v231QuestRewardExtra .v395-loot-card.v4121-art-current .ico{width:48px;height:48px;margin:0 auto;display:grid;place-items:center;overflow:hidden}
#v231QuestRewardExtra .v395-loot-card.v4121-art-current .ico .v466-item-art{width:46px!important;height:46px!important;object-fit:contain!important;display:block!important;filter:drop-shadow(0 4px 7px #0009)}
