
#v265WarArena .v265-avatar{
  height:168px;
  position:relative;
  display:flex;
  align-items:flex-end;
  justify-content:center;
  font-size:0;
}
#v265WarArena .v265-avatar img{
  display:block;
  width:auto;
  height:158px;
  max-width:145px;
  object-fit:contain;
  object-position:center bottom;
  filter:drop-shadow(0 10px 10px rgba(0,0,0,.72));
  user-select:none;
  pointer-events:none;
}
#v265WarArena .v265-avatar .v266-weapon{
  position:absolute;
  right:8%;
  bottom:25px;
  font-size:38px;
  transform:rotate(-18deg);
  filter:drop-shadow(0 4px 4px #000);
}
#v265WarArena .v265-fighter.right .v265-avatar img{
  transform:scaleX(-1);
}
#v265WarArena .v265-fighter.right .v265-avatar .v266-weapon{
  right:auto;
  left:8%;
  transform:scaleX(-1) rotate(-18deg);
}
