#dungeonMapCard.v426-ref-d1 .v261-title{
  line-height:1!important;
  white-space:normal!important;
  overflow:visible!important;
}
#dungeonMapCard.v426-ref-d1 .v261-title::after{
  font-weight:1000;
  letter-spacing:0;
  text-shadow:0 2px 0 #43250d,0 0 10px rgba(0,0,0,.42);
}
